@import '../../../../assets/styles/all-react';

$component: '.post-page-toggle-mode';

#{ $component } {
  &__icon {
    margin: 0 0 0 10px;

    * {
      fill: color(dark, icon);
    }
  }

  &--light {
    #{$component}__icon * {
      fill: color(light, icon);
    }
  }
}
