@import '../../../../assets/styles/_all-react';

$home-carousel-image-height: 250px !default;

.c-home-carousel {
  position: relative;
  margin: 50px -15px;

  figure {
    margin: 0;
  }

  &__image {
    height: $home-carousel-image-height;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
  }

  .paging-dot {
    width: 14.2px !important;
    height: 14.2px !important;
    background-color: transparent !important;
    border: solid 1px #ffffff;
    position: relative;
  }

  .paging-item.active {
    .paging-dot::after {
      content: '';
      width: 8.1px;
      height: 8.1px;
      background-color: #ffffff;
      margin: auto;
      border-radius: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}
